<!-- subfooter for appstore -->
<container>
  <row class="sub-footer">
    <columns small="4"></columns>
    <columns small="4">
      <center>
        <span class="call-to-action" valign="middle"> Download our app</span>
      </center>
    </columns>
    <columns small="4"></columns>
  </row>
  <!-- store logo columns -->
  <row class="store-logo">
    <columns small="4" large="4"></columns>
    <center>
      <columns small="2" large="3" valign="middle" class="apps"
        style="padding-bottom: 20px; padding-left: 0 !important; padding-right: 2px !important;">
        <img src="{{root}}/assets/img/helloFresh/appstore.png" alt="apple store for mobile apps">
      </columns>
      <columns small="2" large="3" valign="middle" class="apps"
        style="padding-bottom: 20px; padding-left: 2px !important; padding-right: 0 !important;">
        <img src="{{root}}/assets/img/helloFresh/playstore.png" alt="google play store for mobile apps">
      </columns>
    </center>
    <columns small="4" large="4"></columns>
  </row>
</container>

<container>
  <row class="follow-us">
    <columns small="2" large="4"></columns>
    <columns small="8" large="6">
      <center style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
        <span>Follow Us. Or give us a shout out.</span>
      </center>
    </columns small="2" large="4">
    <columns small="4" large="4"></columns>
  </row>
  <row class="footer-social">
    <columns small="2" large="4"></columns>
    <columns small="2" large="2">
      <img src="{{root}}/assets/img/helloFresh/facebook.png" alt="facebook link to connect with us"
        style="height: 20px; padding-bottom: 20px;">
    </columns>
    <columns small="2" large="2">
      <img src="{{root}}/assets/img/helloFresh/instagram.png" alt="instagram link to connect with us"
        style="height: 20px; padding-bottom: 20px;">
    </columns>
    <columns small="2" large="2">
      <img src="{{root}}/assets/img/helloFresh/twitter.png" alt="twitter link to connect with us"
        style="height: 20px; padding-bottom: 20px;">
    </columns>
    <columns small="2" large="2">
      <img src="{{root}}/assets/img/helloFresh/pinterest.png" alt="pinterest link to connect with us"
        style="height: 20px; padding-bottom: 20px;">
    </columns>
    <columns small="2" large="2">
      <img src="{{root}}/assets/img/helloFresh/wordpress.png" alt="link to our website where you can find recipes"
        style="height: 20px; padding-bottom: 20px;">
    </columns>
    <columns small="2" large="4"></columns>
  </row>
</container>
<container>
  <row class="privacy">
    <columns>
      <p>*Promotion and/or offer not valid on prior purchases, gift cards, gift certificates, taxes or shipping and
        processing charges. Valid only for first time consumers on a qualifying order. Consumer must pay any applicable
        sales tax. To qualify, consumer will receive $33.01 off their first box, $6.99 shipping cost on their first box,
        $30 off their second box, and $10 off their third, fourth box and fifth for a total promotional value of $100.
        Offer must be redeemed by 11/29/2019 11:59 PM PST. Offer may not be combined with any other sale, promotion,
        discount, code, credit, coupon, and/or offer. Promotions and/or offers have no cash value. Offer cannot be sold
        or otherwise bartered. Void where prohibited, taxed or otherwise restricted. HelloFresh has the right to end or
        modify any promotion and/or offer at any time. Other restrictions may apply. Offers only apply to the United
        States unless otherwise noted.</p>
    </columns>
  </row>
  <row class="terms">
    <columns>
      <p>
        You’re receiving this email because you’ve signed up to receive emails from HelloFresh. If you’d prefer not to
        receive updates, you can unsubscribe. Use of the HelloFresh service and website is subject to our Terms of Use
        and
        Privacy Policy.
      </p>
    </columns>
  </row>
  <row class="store-trademarks">
    <columns>
      <p>
        Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is
        a service mark of Apple Inc., registered in the U.S. and other countries. Google Play and the Google Play logo
        are trademarks of Google LLC.
      </p>
    </columns>
  </row>
  <row class="copyright">
    <columns>
      <p>
        © 2019 HelloFresh. 40 W 25th Street, New York, NY 10010 USA. All Rights reserved.
      </p>
    </columns>
  </row>
</container>